/* element */
body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

/* class */
.wrapper {
    padding-top: 80px;
    margin: auto;
    width: 80%;
}

.text-centered {
    text-align: center;
}
.tooltip{
    position: absolute;
    background-color: #78c4d4;
    padding: 20px;
    border-radius: 3px;
}
/* id */